{% extends '::base.html.twig' %}
{% block main %}
<style type="text/css">
    .content_title { font-weight: bold; }
</style>
<div class="centercontent">
    <div class="pageheader">
        <h1 class="pagetitle">修改密码</h1><br>
    </div>
    <!--pageheader-->

    <div id="contentwrapper" class="contentwrapper">
        <form id="submitForm" class="stdform" action="{{path('user_auth_modify_password')}}" method="post">
            <div>
                <p>
                    <label>旧密码</label>
                    <span class="field">
                        <input style="padding: 8px 5px;border: 1px solid #ccc;border-radius: 2px;background: #fcfcfc;color: #666;box-shadow: inset 0 1px 3px #ddd;" type="password" id="old_password" name="old_password" class="smallinput" value=""/>
                    </span>
                </p>
            </div>
            <div>
                <p>
                    <label>新密码</label>
                    <span class="field">
                        <input style="padding: 8px 5px;border: 1px solid #ccc;border-radius: 2px;background: #fcfcfc;color: #666;box-shadow: inset 0 1px 3px #ddd;" type="password" id="new_password" name="new_password" class="smallinput" value=""/>
                    </span>
                </p>
            </div>
            <div>
                <p> 
                    <label></label>
                    <button id="submitform_sub" type="submit" class="submit radius2">提交</button>
                </p>
            </div>
            <div>
                <p style="color:red;">
                    <label></label>
                    {%if error is not empty%}<span>*{{error}}</span>{%endif%}
                </p>
            </div>
        </form>
        <br clear="all"><br>
    </div><!--contentwrapper-->
</div><!--centercontent-->
{% endblock %}
