<form id="queryform" class="stdform_q" action="{{ path('user_auth_query') }}" method="get">
    <div>
        <p>
            <label>用户名</label>
            <span class="field"><input type="text" id="username" name="username" class="smallinput" value=""/></span>
        </p>
    </div>
    <div>
        <p>
            <label>&nbsp;</label>
            <button id="queryform_sub" type="submit" class="submit radius2">查询</button>
        </p>
    </div>
</form>
