<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>龙潭斋 | 管理平台</title>
<link rel="stylesheet" href="/css/style.default.css" type="text/css" />
<link rel="stylesheet" href="/css/plugins/jquery.timepicker.css" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">

<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
<script type="text/javascript" src="/js/plugins/jquery.autogrow-textarea.js"></script>
<script type="text/javascript" src="/js/plugins/jquery.bxSlider.min.js"></script>
<script type="text/javascript" src="/js/plugins/jquery.colorbox-min.js"></script>
<script type="text/javascript" src="/js/plugins/jquery.cookie.js"></script>
<script type="text/javascript" src="/js/plugins/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/plugins/jquery.flot.min.js"></script>
<script type="text/javascript" src="/js/plugins/jquery.flot.pie.js"></script>
<script type="text/javascript" src="/js/plugins/jquery.flot.pie.resize_update.js"></script>
<script type="text/javascript" src="/js/plugins/jquery.flot.resize.min.js"></script>
<script type="text/javascript" src="/js/plugins/jquery.jgrowl.js"></script>
<script type="text/javascript" src="/js/plugins/jquery.slimscroll.js"></script>
<script type="text/javascript" src="/js/plugins/jquery.smartWizard-2.0.min.js"></script>
<script type="text/javascript" src="/js/plugins/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="/js/plugins/jquery.uniform.min.js"></script>
<script type="text/javascript" src="/js/plugins/jquery.validate.min.js"></script>
<script type="text/javascript" src="/js/plugins/ui.spinner.min.js"></script>
<script type="text/javascript" src="/js/plugins/charCount.js"></script>
<script type="text/javascript" src="/js/plugins/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/js/plugins/colorpicker.js"></script>
<script type="text/javascript" src="/js/plugins/jquery.filedrop.js"></script>
<script type="text/javascript" src="/js/plugins/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript" src="/js/plugins/vendor/jquery.ui.widget.js"></script>
<script type="text/javascript" src="/js/plugins/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="/js/plugins/jquery.fileupload.js"></script>
<script type="text/javascript" src="/js/plugins/jquery.highlight.js"></script>
<script type="text/javascript" src="/js/plugins/jquery.lazyload.js"></script>
<script type="text/javascript" src="/js/plugins/jquery.artTxtCount.js"></script>

<script type="text/javascript" src="/js/custom/general.js"></script>
<script type="text/javascript" src="/js/custom/tables.js"></script>
<script type="text/javascript" src="/js/custom/forms.js"></script>



<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="/js/plugins/excanvas.min.js"></script><![endif]-->
<!--[if IE 9]>
    <link rel="stylesheet" media="screen" href="/css/style.ie9.css"/>
<![endif]-->
<!--[if IE 8]>
    <link rel="stylesheet" media="screen" href="/css/style.ie8.css"/>
<![endif]-->
<!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->

<script type="text/javascript" src="/js/jPaginate/jquery.paginate.js"></script>
<script type="text/javascript" src="/js/jqPagination/js/jquery.jqpagination.min.js"></script>

<link rel="stylesheet" type="text/css" href="/js/jqPagination/css/jqpagination.css"/>
<link rel="stylesheet" type="text/css" href="/js/jPaginate/css/style.css" media="screen"/>
<link rel="stylesheet" type="text/css" href="/css/revise.css" />
</head>

<body class="withvernav">

<div class="bodywrapper">
    {% block topheader %}
        <div class="topheader">
            <div class="left">
                <a href="{{ path('user_homepage') }}"><h1 class="logo">龙潭斋&nbsp;<span>&nbsp;管理平台</span></h1></a>
                <br clear="all" />
            </div>

            <div class="right">
                <div class="userinfo">
                    <span>{{ app.user.username }}</span>
                </div>

                <div class="userinfodrop">
                    <div class="userdata">
                        <ul>
                            <li><a href="{{ path('user_logout') }}">退出</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block leftmenu %}
        <!--leftmenu-->
        {% include '::leftmenu.html.twig' %}
    {% endblock %}

    {% block main %}
    {% endblock %}

</div><!--bodywrapper-->

</body>
</html>
