<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>龙潭斋管理平台 - 登录</title>
<link rel="stylesheet" href="/css/style.default.css" type="text/css" />
<script type="text/javascript" src="/js/plugins/jquery-1.7.min.js"></script>
<script type="text/javascript" src="/js/plugins/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="/js/plugins/jquery.cookie.js"></script>
<script type="text/javascript" src="/js/plugins/jquery.uniform.min.js"></script>
<script type="text/javascript" src="/js/custom/general.js?v=1.0.2"></script>
<script type="text/javascript" src="/js/custom/index.js"></script>
<!--[if IE 9]>
    <link rel="stylesheet" media="screen" href="/css/style.ie9.css"/>
<![endif]-->
<!--[if IE 8]>
    <link rel="stylesheet" media="screen" href="/css/style.ie8.css"/>
<![endif]-->
<!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->
</head>
<body class="loginpage">
	<div class="loginbox">
    	<div class="loginboxinner">
        	
            <div class="logo">
                <h1><span>龙潭斋</span><br />管理平台</h1>
            </div><!--logo-->
            <center><p style="color:#f00;{% if loginfailed is not defined %}display:none{% endif %}">登录失败</p></center>
            <form id="login" action="{{ path('user_login') }}" method="post">
                <div style="margin-bottom:10px;"><p><label style="color:silver;font-size:20px;margin-right:10px;">账号</label><span class="field"><input style="width:200px" class="smallinput" name='username' type='text' value='' /></span></p></div>
                <div style="margin-bottom:10px"><p><label style="color:silver;font-size:20px;margin-right:10px;">密码</label><span class="field"><input style="padding:8px 5px;border-radius:2px;border: 1px solid #ccc;background: #fcfcfc;width:200px" class="smallinput" name='password' type='password' value='' /></span></p></div>
                <button>登录</button>            
            </form>
            
        </div><!--loginboxinner-->
    </div><!--loginbox-->
</body>
</html>
